*{
    font-family: 'Pacifico', cursive;
}
body{
    background-color: white;
}
#tablehead th{
    font-size: 1.1rem;
}
 #tablehead th, #table td, #table2 td, #table3 td{
    padding: .3rem;
    border: 2px solid rgb(67, 147, 233);
    font-family: 'Pacifico', cursive; 
}
#table td{
    font-size: 1rem;
}
.tab{
    display: none;
    z-index: 1;
}
/* online */
#table{
    margin: auto auto;
}
#update-btn{ 
    margin-left: 8rem;
    margin-bottom: 1rem;
}
#update-form{
    margin-left: 8rem;
}

/* walkins */
#walkins{
    width: 80%;
    height: 65%;
    margin: auto auto;
}
.tag-walkins{
    border: unset;
    background-color: rgb(67, 147, 233);
    font-size: 1.2rem;
}
#walkinsform, #update-form, #update-form2, #inventory-form{
    display: none;
    position: absolute;
    margin-top: 3rem;
    z-index: 1;
    background-color: rgb(67, 147, 233);
    padding: .8rem;
    border-radius: 10px;
    color: white;
}
.input{
    color: white;
}
#services, #status{
    padding: .2rem;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
.c-info{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px black solid;
    padding: .2rem;
    width: 15rem;
    margin-top: .5rem;
}
#submitbtn,  #update-btn, #update-btn2, #inv-update-btn{
    margin-top: .4rem;
    padding: .3rem .5rem;
    font-size: 1.1rem;
    border: 1px solid black;
    color: white;
    background-color: rgb(67, 147, 233);
}

#addwalkins, #update-btn, #update-btn2, #inv-update-btn{
    border: none;
    border-bottom: black 2px dotted;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(67, 147, 233);
    background-color: transparent;
    padding-right: 1.5rem;
   
}

/* inventory */
#inventory-form{
    padding:1rem;
    margin-left: 16rem;
}
.inv-item label{
    text-align: center;
}
.inv-item input{
    width:  10rem;
    border: none;
    border-bottom: 2px solid black;
}
.inv-item button{
    border: unset;
    padding: .2rem;
    font-size: 1.2rem;
    background: transparent; 
    border-bottom: 2px solid black;
    color: white;
    margin: .5rem auto auto 1.2rem;
}
#inv-update-btn{
    margin-left: 16rem;
}
.inv-item button:hover{
    color:  rgb(67, 147, 233);
    background-color: white;
}
.inv-btn{
    margin-left: .6rem;
}
#inventory-table{
    margin-top: 2rem;
}
#table3{
    margin:auto auto;
    text-align: center;
}
tbody tr:hover{
    background-color:  rgb(67, 147, 233);
    color: white;
}
/* sales */
#chart{
    margin:0 0 0 0;
}
#sales-nav{
    display: flex;
    justify-content: flex-end;
    border-bottom: 5px solid rgb(67, 147, 233);
    align-items: center;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 0%;

}
.sales-nav-btn{
    border: unset;
    background-color: transparent;
    font-size: 1.3rem;
    margin-right: 3rem;
}
.sales-nav-btn.active{
    color: rgb(67, 147, 233);
    padding: .2rem;
}
.sales-expenses{
    display: none;
    z-index: 1;
} 
#exp-update-btn{
    margin-left: 10rem;
    background-color: transparent;
    color: white;
    background-color: rgb(67, 147, 233);
    border: unset;
    padding: .2rem;
    font-size: 1.2rem;
    margin-top: .2rem;
}
#expenses-form{
    display: none;
    z-index: 2;
    display: block;
    justify-content: center;
    margin-left: 10rem;
    background-color: rgb(67, 147, 233);
    padding: .5rem;
    width: 13rem;
    border-radius: 5px;
    margin-top: .5rem;
}
.expenses input{
    border: none;
    border-bottom: 3px solid black;
}
.expenses label{
    color: white;
}
.exp-add-btn{
    margin-top: .3rem;
    font-size: 1.2rem;
}